<div class="error-messages" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <div *ngFor="let error of errors" class="notification is-danger">
    <button class="delete" (click)="removeError(error)"></button>
    <h5 class="title is-5">An error occurred</h5>
    {{error.message}}
  </div>
</div>

<div class="container" fxLayout="row">
  <div class="sections" fxFlex fxLayout="column" fxLayoutAlign="center stretch">

    <section>
      <h1 class="opl2-title">OPL2 Audio Board Control</h1>
    </section>

    <section class="columns parameters">
      <div class="column">
        <div class="columns">
          <div class="column is-3">
          </div>
          <div class="column is-4 has-text-centered	">
            <div class="label label-margin">Carrier</div>
          </div>
          <div class="column is-4 is-offset-1 has-text-centered	">
            <div class="label label-margin">Modulator</div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Attack Rate</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="carrier.attack"
              [enabled]="deviceAvailable | async" (value)="onAttackRateChange($event, Operators.Carrier)"></app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="modulator.attack"
              [enabled]="deviceAvailable | async" (value)="onAttackRateChange($event, Operators.Modulator)">
            </app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Decay Rate</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="carrier.decay"
              [enabled]="deviceAvailable | async" (value)="onDecayRateChange($event, Operators.Carrier)"></app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="modulator.decay"
              [enabled]="deviceAvailable | async" (value)="onDecayRateChange($event, Operators.Modulator)"></app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Sustain Level</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="carrier.sustain"
              [enabled]="deviceAvailable | async" (value)="onSustainLevelChange($event, Operators.Carrier)">
            </app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="modulator.sustain"
              [enabled]="deviceAvailable | async" (value)="onSustainLevelChange($event, Operators.Modulator)">
            </app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Release Rate</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="carrier.release"
              [enabled]="deviceAvailable | async" (value)="onReleaseRateChange($event, Operators.Carrier)"></app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="15" default="0" [instrument]="instrument" path="modulator.release"
              [enabled]="deviceAvailable | async" (value)="onReleaseRateChange($event, Operators.Modulator)">
            </app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Sustaining</div>
          </div>
          <div class="column is-4">
            <app-checkbox [instrument]="instrument" path="carrier.sustaining" [enabled]="deviceAvailable | async"
              (value)="onSustainingChange($event, Operators.Carrier)">
            </app-checkbox>
          </div>
          <div class="column is-4 is-offset-1">
            <app-checkbox [instrument]="instrument" path="modulator.sustaining" [enabled]="deviceAvailable | async"
              (value)="onSustainingChange($event, Operators.Modulator)">
            </app-checkbox>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Envelope Scaling</div>
          </div>
          <div class="column is-4">
            <app-checkbox [instrument]="instrument" path="carrier.envelopeScaling" [default]="false"
              [enabled]="deviceAvailable | async" (value)="onEnvelopeScalingChange($event, Operators.Carrier)">
            </app-checkbox>
          </div>
          <div class="column is-4 is-offset-1">
            <app-checkbox [instrument]="instrument" path="modulator.envelopeScaling" [default]="false"
              [enabled]="deviceAvailable | async" (value)="onEnvelopeScalingChange($event, Operators.Modulator)">
            </app-checkbox>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Frequency Multiplier</div>
          </div>
          <div class="column is-4">
            <app-slider [instrument]="instrument" path="carrier.frequencyMultiplier" [mapFn]="mapFrequenceMultiplier"
              min="0" max="15" default="0" [enabled]="deviceAvailable | async"
              (value)="onFrequenceMultiplierChange($event, Operators.Carrier)">
            </app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider [instrument]="instrument" path="modulator.frequencyMultiplier" [mapFn]="mapFrequenceMultiplier"
              min="0" max="15" default="0" [enabled]="deviceAvailable | async"
              (value)="onFrequenceMultiplierChange($event, Operators.Modulator)">
            </app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Modulation Feedback</div>
          </div>
          <div class="column is-4">
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="7" default="0" [mapFn]="mapFeedback" [instrument]="instrument" path="feedback"
              [enabled]="deviceAvailable | async" (value)="onModulationFeedbackChange($event)"></app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Frequence Modulation</div>
          </div>
          <div class="column is-4">
          </div>
          <div class="column is-4 is-offset-1">
            <app-checkbox [default]="false" path="frequencyModulation" [instrument]="instrument"
              [enabled]="deviceAvailable | async" (value)="onSynthModeChange($event)">
            </app-checkbox>
          </div>
        </div>


        <div class="columns">
          <div class="column is-3">
            <div class="label">Output Level</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="63" default="0" [instrument]="instrument" path="carrier.outputLevel"
              [enabled]="deviceAvailable | async" (value)="onOutputLevelChange($event, Operators.Carrier)"></app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="63" default="0" [instrument]="instrument" path="modulator.outputLevel"
              [enabled]="deviceAvailable | async" (value)="onOutputLevelChange($event, Operators.Modulator)">
            </app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Key Scale Level</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="3" default="0" [instrument]="instrument" path="carrier.keyScale"
              [enabled]="deviceAvailable | async" (value)="onKeyScaleLevelChange($event, Operators.Carrier)">
            </app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="3" default="0" [instrument]="instrument" path="modulator.keyScale"
              [enabled]="deviceAvailable | async" (value)="onKeyScaleLevelChange($event, Operators.Modulator)">
            </app-slider>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Vibrato</div>
          </div>
          <div class="column is-4">
            <app-checkbox [default]="false" [instrument]="instrument" path="carrier.vibrato"
              [enabled]="deviceAvailable | async" (value)="onVibratoChange($event, Operators.Carrier)"></app-checkbox>
          </div>
          <div class="column is-4 is-offset-1">
            <app-checkbox [default]="false" [instrument]="instrument" path="modulator.vibrato"
              [enabled]="deviceAvailable | async" (value)="onVibratoChange($event, Operators.Modulator)"></app-checkbox>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Tremolo</div>
          </div>
          <div class="column is-4">
            <app-checkbox [default]="false" [instrument]="instrument" path="carrier.tremolo"
              [enabled]="deviceAvailable | async" (value)="onTremoloChange($event, Operators.Carrier)"></app-checkbox>
          </div>
          <div class="column is-4 is-offset-1">
            <app-checkbox [default]="false" [instrument]="instrument" path="modulator.tremolo"
              [enabled]="deviceAvailable | async" (value)="onTremoloChange($event, Operators.Modulator)"></app-checkbox>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <div class="label">Waveform</div>
          </div>
          <div class="column is-4">
            <app-slider min="0" max="3" default="0" [instrument]="instrument" path="carrier.waveform"
              [enabled]="deviceAvailable | async" (value)="onWaveformChange($event, Operators.Carrier)"></app-slider>
          </div>
          <div class="column is-4 is-offset-1">
            <app-slider min="0" max="3" default="0" [instrument]="instrument" path="modulator.waveform"
              [enabled]="deviceAvailable | async" (value)="onWaveformChange($event, Operators.Modulator)"></app-slider>
          </div>
        </div>

      </div>
    </section>


    <div style="margin-top: 0px;" class="columns">
      <section class="column configuration left">
        <div>
          <div class="columns">
            <div class="column">
              <div class="label">MIDI Output</div>
            </div>
            <div class="column">
              <select [formControl]="outputControl">
                <option *ngFor="let output of outputs | keyvalue" [value]="output.key">
                  {{output.value.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="label">MIDI Input</div>
            </div>
            <div class="column">
              <select [formControl]="inputControl">
                <option *ngFor="let input of inputs | keyvalue" [value]="input.key">
                  {{input.value.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="label">Selected Intrument: {{instrumentIndex + 1}}</div>
            </div>
            <div class="column">
              <button class="upload-button" [disabled]="! (deviceAvailable | async)">
                <label for="file-upload">
                  Open WOPL File
                </label>
              </button>
              <input id="file-upload" accept=".wopl" [disabled]="! (deviceAvailable | async)" type="file"
                (change)="onOpenBank($event.target.files);$event.target.value = ''">
              <dialog id="banks-dialog" #dialog>
                <div class="dialog-container">
                  <div class="dialog-content">
                    <select autofocus class="inst-select" id="inst-select" multiple
                      (change)="onInstrumentSelected($event)">
                      <optgroup *ngFor="let bank of banks | keyvalue" label="{{bank.key}}">
                        <option [value]=index [label]=inst[0] *ngFor="let inst of bank.value; let index = index">
                        </option>
                      </optgroup>
                    </select>
                  </div>
                  <div>
                    <div class="label" id="instrument-num">
                      {{numSelected}} Instrument{{numSelected === 1 ? '' : 's'}} selected
                    </div>
                  </div>
                  <div class="dialog-buttons">
                    <button id="cancel" (click)="onCancel()">Cancel</button>
                    <button id="import" [disabled]="numSelected === 0" (click)="onImport()">Import</button>
                  </div>
                </div>
              </dialog>
            </div>
          </div>
          <app-patch (instrument)="onInstrumentChange($event)" [current]="instrumentIndex"></app-patch>
        </div>




      </section>


      <!-- <section class="column log configuration">
      </section>-->
      <section class="column configuration log">
        <textarea #textArea [value]="midiLogValue" readonly="readonly" class="midi-log">
        </textarea>

      </section>

    </div>
  </div>
</div>