/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Bulma Configuration */
$family-sans-serif: "Nunito", sans-serif;
$text: #000;

/* Imports */
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/notification.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/grid/columns.sass";

/* Styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.label {
  font-size: 20px;
  font-weight: bold;
  &.label-margin {
    margin-right: 5rem;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid black;
  height: 30px;
  width: 100%;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0 4px 2px;

  background-color: white;

  &[disabled] {
    background-color: #d3d3d3;
  }
}

option {
  font-weight: bold;
  border: 2px solid black;
  box-shadow: inset 0px 0px 0px 2px black;
  padding: 0 4px 2px;
}

button {
     -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid black;
    height: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 4px 2px;
    background-color: white;
    cursor: pointer;
  
    &[disabled] {
      background-color: #d3d3d3;
    }
}